#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
}

#navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#weeks ul {
  display: none;
}

#weeks.active ul {
  display: block;
}

.arrow {
  display:inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}

#weeks.active .arrow {
  transform: rotate(90deg);
}